<h3>{{filme.id ? 'Editar' : 'Criar'}} filme</h3>
<form (ngSubmit)="salvar()">
  <div class="container">
    <label for="exampleInputEmail1">Título</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="titulo" [(ngModel)]="filme.titulo">
  </div>
  <div class="container">
    <label >Diretor</label>
    <input type="text" class="form-control" name="diretor" [(ngModel)]="filme.diretor">
  </div>
  <div class="container">
    <label >Genero</label>
    <input type="text" class="form-control" name="genero" [(ngModel)]="filme.genero">
  </div>
  <div class="container">
    <label >Duração</label>
    <input type="number" class="form-control" name="duracao" [(ngModel)]="filme.duracao">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
