
<div class="container">
    <div class="d-flex justify-content-center">
        <form action="/" method="get" (ngSubmit)="obtemFilmes()">
            <div class="row">
                <div class="col-12 mb-3">
                    <label>Pesquisa por filme:</label>
                    <input type="text" [(ngModel)]="titulo" name="titulo" class="form-control" placeholder="Pesquisa por filme" required>
                </div>
                <button type="submit" class="btn btn-primary">Buscar!</button>
            </div>
        </form>
    </div>
</div>




