
  input[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(85, 70, 70, 0.06);
  }
  
  .btn-primary {
    color: #fff;
    background-color: #a1d4c2;
    border-color: #a1d4c2;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9ad4dd;
}
