
<div class="container">
    <div class="d-flex justify-content-center">
        <form action="/" method="get" (ngSubmit)="obtemLivros()">
            <div class="row">
                <div class="col-12 mb-3">
                    <label></label>
                    <input type="text" [(ngModel)]="titulo" name="titulo" class="form-control" placeholder="Pesquisa por livro" required>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-custom">Buscar!</button>
            </div>
        </form>
    </div>
</div>
