<div class="container">
    <div class="d-flex justify-content-center">
        <form action="">
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="validationServer01">Busca por filme</label>
                    <input type="text" class="form-control is-valid" id="validationServer01"
                        placeholder="Busca por filme" value="filme/livro" required>
                </div>
                <div class="col-4 mb-3">
                    <label for="validationServer02">Resultado de busca</label>
                    <input type="text" class="form-control is-valid" id="validationServer02"
                        placeholder="Resultado de busca" required>

                </div>
                <div class="col-4 mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="buscaFilmesLivros()">Buscar!</button>
            </div>
        </form>
    </div>
</div>


